<div class="home">
  <div class="img">
    <img src="./images/alvaro.png">
  </div>
  <article class="description">
    My name is Alvaro I'm a dedicated developer with graphic design skills, I enjoy designing applications and then building them by writing clean code.

    I work hard to keep myself updated by attending to meetups, working on open source projects.
  </article>
  <ul>
    <li><a target="_blank" href="http://www.omgez911.com">Portoflio</a></li>
    <li><a target="_blank" href="https://carstock-co.herokuapp.com/">CarStock</a></li>
    <li><a target="_blank" href="http://www.elevatingcre.com/">Elevating CRE</a></li>
  </ul>
</div>
